<?xml version="1.0" encoding="UTF-8"?>
<Configuration packages="com.epam.ta.reportportal.log4j.appender">
    <properties>
        <property name="pattern">[%d{HH:mm:ss}] %-5p (%F:%L) - %m%n</property>
    </properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d{HH:mm:ss}] %-5p - %m%n"/>
        </Console>
        <File name="File" fileName="target/logs/TestLog.log">
            <PatternLayout pattern="${pattern}"/>
        </File>
        <ReportPortalLog4j2Appender name="ReportPortalAppender">
            <PatternLayout pattern="[%d{HH:mm:ss}] %-5p - %m%n"/>
        </ReportPortalLog4j2Appender>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
            <AppenderRef ref="ReportPortalAppender"/>
        </Root>
    </Loggers>
</Configuration>